.section-formation {
    text-align: left;

    figure {
        float: right;

        img {
            width: 50%;
        }

        text-align: center;
    }
}
.formation--grid.container{
 .wrap{
    text-align: center;
 }
}
section {
    .container {
        .wrap {
            &:nth-child(odd) {
                float: right;
            }

            &:nth-child(even) {
                float: right;
            }

            margin: 5px;
            position: relative;

            .imgdescription {
                position: absolute;
                bottom: 0;
                opacity: 90%;
                width: 100%;

                p {
                    background-color: var(--mindaro);
                    padding: 2%;
                    margin: 0;
                }

            }
        }
    }
}