.section-volet {
    text-align: left;




    figure {
        float: right;

        img {
            width: 50%;
        }

        text-align: center;
    }
}

.deuxieme {
    color: var(--foret);

    .wrap {
        .imgdescription {
            p {
                background-color: var(--poudre);
            }

        }

    }
}

.volet--grid.container {
    .wrap {
        text-align: center;
    }
}

.wrap {

    width: 100%;

    position: relative;

    img {
        width: 80%;
    }


    .imgdescription {
        position: absolute;
        bottom: 0;
        opacity: 90%;
        width: 100%;

        p {
            background-color: var(--mindaro);
            padding: 2%;
            margin: 0;
        }

    }

}