@use "sass:color";

.donate-image {
    img {
    width: 100%;
    border-radius: 25px;
}
}

.don {
    >.container-fluid {
        label {
            font-size: 20px;
            font-weight: bold;
            color: var(--foret);
        }
        input {
            background: color.adjust(#F6F9F1, $alpha: -0.5);
            border-radius: 25px;
            border: 2px solid var(--foret);
        }

        button {
            background-color: var(--poudre);
            border-radius: 50px;
            border: var(--foret) 1px solid;
            width: 100%;
            padding: 10px 25px;
            font-size: 20px;
            color: var(--foret);
            font-weight: bold;
            box-shadow: 0 3px 10px #00000056;
            
            &:hover {
                background-color: var(--foret);
                color: var(--poudre);
            }
    
            &:active {
                transform: translateY(3px);
                box-shadow: none;
                transition: box-shadow .3s,transform .3s;
            }
        }
    
    }
    .row {
        position: relative;
    }
    
    .jar {
        position: relative;
        z-index: 2;
        height: 70%;
        margin-top: 20%;
    }
    .leafJar {
        position: absolute;
        width: 25%;
        left: 45%;
        top: -35%;
    }
    .leaf-jar {
        position: absolute;
        width: 20%;
        z-index: 0;
    }
    .don-anim {
        position: relative;
    }
    .formulaire {
        position: relative;
        z-index: 3;
    }
}

@media screen and (max-width: 992px) {
    .don {
    .jar {
        width: 30%;
    }
    .leafJar {
        position: absolute;
        width: 10%;
        left: 45%;
        top: 0%;
    }
    .leaf-jar {
        position: absolute;
        width: 10%;
    }
}
}

@media screen and (max-width: 768px) {
    .don {
    .jar {
        width: 40%;
        margin-top: 30%;
    }
    .leafJar {
        position: absolute;
        width: 15%;
        left: 45%;
        top: 0%;
    }
    .leaf-jar {
        position: absolute;
        width: 13%;
    }
}
}
