.section-equipe {
    text-align: left;
}

.equipe {
    text-align: center;
}

.btn-secondary {
    background-color: var(--foret);
}

.modal-content {
    background-color: var(--poudre);
    color: var(--vertfonce);
}

.jasmine{
    background-image: url(../sources/medias/apropos/jasmine.jpg);
}